<div class="offer-item-upper">
    <div>
        <img src="assets/icons/box-white.svg" alt="Offer Icon">
        <h1>Offer Name</h1>
        <p>Price dh</p>
    </div>
    <ul>
        <li>
            <img src="assets/icons/star-white-full.svg" alt="Star Full">
        </li>
        <li>
            <img src="assets/icons/star-white-full.svg" alt="Star Full">
        </li>
        <li>
            <img src="assets/icons/star-white-full.svg" alt="Star Full">
        </li>
        <li>
            <img src="assets/icons/star-white-empty.svg" alt="Star Full">
        </li>
        <li>
            <img src="assets/icons/star-white-empty.svg" alt="Star Full">
        </li>
    </ul>
</div>
<div class="offer-item-middle">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies consequat eros id lobortis. Nam magna purus, fringilla sit amet tempus sit amet, faucibus in elit. Mauris iaculis, arcu dictum imperdiet molestie, risus libero blandit nisl, sed blandit libero neque quis ante. Morbi sit amet velit fringilla, ultrices sapien et, pharetra velit. Aliquam vitae eleifend neque.</p>
</div>
<div class="offer-item-lower">
    <button>Update</button>
    <button>Delete</button>
</div>

<hr class="offer-item-rule">