<div class="dashboard-profile">
    <div class="dashboard-profile-upper">
        <h1>Profile</h1>
        <div>
            <button>Update</button>
            <button>Change Password</button>
        </div>
    </div>
    <ul class="dashboard-profile-middle">
        <li>
            <h2>First Name</h2>
            <input type="text">
        </li>
        <li>
            <h2>Last Name</h2>
            <input type="text">
        </li>
        <li>
            <h2>Birthday</h2>
            <input type="text">
        </li>
        <li>
            <h2>Location</h2>
            <input type="text">
        </li>
    </ul>
    <div class="dashboard-profile-lower">
        <div class="dashboard-profile-lower-skills">
            <h2>Skills</h2>
            <div>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
        </div>
        <div class="dashboard-profile-lower-bio">
            <h2>Bio</h2>
            <textarea></textarea>
        </div>
    </div>
</div>