<app-header></app-header>

<div class="profile">
    <div class="provider">
        <img src="assets/icons/user-blue.svg" alt="Provider Image">
        <div class="provider-info">
            <div>
                <h1>Provider Name</h1>
                <p>Age</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies consequat eros id lobortis. Nam magna purus, fringilla sit amet tempus sit amet, faucibus in elit. Mauris iaculis, arcu dictum imperdiet molestie, risus libero blandit nisl, sed blandit libero neque quis ante. Morbi sit amet velit fringilla, ultrices sapien et, pharetra velit. Aliquam vitae eleifend neque.</p>
        </div>
    </div>
    <div class="profile-details">
        <div class="profile-skills">
            <h1>Skills</h1>
            <div>
                <img src="assets/icons/bag.svg" alt="Skill Icon">
                <p>Skill #1</p>
            </div>
            <div>
                <img src="assets/icons/pencil.svg" alt="Skill Icon">
                <p>Skill #2</p>
            </div>
            <div>
                <img src="assets/icons/fire.svg" alt="Skill Icon">
                <p>Skill #2</p>
            </div>
        </div>
        <div class="profile-offers">
            <h1>Offers</h1>
            <div>
                <img src="assets/icons/cable.svg" alt="Offer Icon">
                <p>Offer #1</p>
            </div>
            <div>
                <img src="assets/icons/hammer.svg" alt="Offer Icon">
                <p>Offer #2</p>
            </div>
            <div>
                <img src="assets/icons/box.svg" alt="Offer Icon">
                <p>Offer #2</p>
            </div>
        </div>
        <div class="profile-other">
            <div class="profile-history">
                <h1>History</h1>
                <ul>
                    <li>Past Work #1</li>
                    <li>Past Work #2</li>
                    <li>Past Work #3</li>
                    <li>See More</li>
                </ul>
            </div>
            <button>Commission</button>
        </div>
    </div>
</div>