<app-header></app-header>

<div class="profile">
    <div class="provider">
        <img src="assets/icons/user-blue.svg" alt="Provider Image">
        <div class="provider-info">
            <div>
                <h1>{{getProviderName()}}</h1>
                <p>{{getProviderAge()}}</p>
            </div>
            <p>{{provider.bio}}</p>
        </div>
    </div>
    <div class="profile-details">
        <div class="profile-skills">
            <h1>Skills</h1>
            <div>
                <img src="assets/icons/bag.svg" alt="Skill Icon">
                <p>Skill #1</p>
            </div>
            <div>
                <img src="assets/icons/pencil.svg" alt="Skill Icon">
                <p>Skill #2</p>
            </div>
            <div>
                <img src="assets/icons/fire.svg" alt="Skill Icon">
                <p>Skill #2</p>
            </div>
        </div>
        <div class="profile-offers">
            <h1>Offers</h1>
            <div>
                <img src="assets/icons/cable.svg" alt="Offer Icon">
                <p>Offer #1</p>
            </div>
            <div>
                <img src="assets/icons/hammer.svg" alt="Offer Icon">
                <p>Offer #2</p>
            </div>
            <div>
                <img src="assets/icons/box.svg" alt="Offer Icon">
                <p>Offer #2</p>
            </div>
        </div>
        <div class="profile-other">
            <div class="profile-history">
                <h1>History</h1>
                <ul>
                    <li>Past Work #1</li>
                    <li>Past Work #2</li>
                    <li>Past Work #3</li>
                    <li>See More</li>
                </ul>
            </div>
            <button>Commission</button>
        </div>
    </div>
</div>