<app-header></app-header>

<div class="register">
    <form method="POST" action="" class="register-form">
        <div class="register-form-input">
            <label for="email">Email</label>
            <input name="email" type="email">
            <label for="password">Password</label>
            <input name="password" type="password">
            <label for="confirm-password">Confirm Password</label>
            <input name="confirm-password" type="password">
        </div>
        <input type="submit" value="Register">
        <p>Already have an account? <span><a routerLink="/login">Login</a></span></p>
    </form>
    <img class="register-logo" src="assets/Bricoly.png" alt="Bricoly Logo">
</div>