<div class="job-item-upper">
    <div>
        <img src="assets/icons/box-white.svg" alt="Offer Icon">
        <h1>Offer</h1>
    </div>
    <ul>
        <li>
            <img src="assets/icons/star-white-full.svg" alt="Star Full">
        </li>
        <li>
            <img src="assets/icons/star-white-full.svg" alt="Star Full">
        </li>
        <li>
            <img src="assets/icons/star-white-full.svg" alt="Star Full">
        </li>
        <li>
            <img src="assets/icons/star-white-empty.svg" alt="Star Full">
        </li>
        <li>
            <img src="assets/icons/star-white-empty.svg" alt="Star Full">
        </li>
    </ul>
</div>

<div class="job-item-lower">
    <button>Active</button>
    <button>Customer</button>
    <button>Cancel</button>
</div>

<hr class="job-item-rule">