<app-header></app-header>

<div class="login">
    <form #form="ngForm" (ngSubmit)='onNgSubmit(form)' class="login-form">
        <div class="login-form-input">
            <label for="email">Email</label>
            <input name="email" type="email" ngModel>
            <label for="password">Password</label>
            <input name="password" type="password" ngModel>
            <p class="forgot-password">Forgot Password?</p>
        </div>
        <input type="submit" value="Login">
        <p>Don't have an account? <span><a routerLink="/register">Register</a></span></p>
    </form>
    <img class="login-logo" src="assets/Bricoly.png" alt="Bricoly Logo">
</div>