<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Les prestations matérielles</h3>
        <p>Travaux de bâtiment, jardinage, réparations, fabrication d'un objet etc.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Les prestations immatérielles</h3>
        <p>Concernent principalement les prestations de conseil</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Les services à la personne</h3>
        <p>Aide-ménagère, pet sitting, aide à la mobilité etc.</p>
      </div>
    </ng-template>
  </ngb-carousel>