.landing {
    margin: 12rem 20rem 0 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn .2s ease-in-out;
}

.landing-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landing-details h1 {
    font-size: 96px;
    font-family: Montserrat ExtraBold;
    font-weight: bolder;
    color: var(--dark-text);
}

.landing-details h3 {
    font-size: 36px;
    width: 60%;
    font-family: Montserrat Light;
    color: var(--grey-text);
}

.landing-icons {
    margin: 1rem 0;
}

.landing-icons img {
    margin-right: 1.3rem;
}

.landing-details button {
    border: none;
    border-radius: 40px;
    font-size: 36px;
    font-family: Montserrat ExtraBold;
    color: white;
    padding: .5rem;
    margin: .5rem -.5rem;
    width: 25rem;
    background-color: var(--blue-button);
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.landing-details button:last-child {
    background-color: var(--grey-button);
}

.landing-details button:active {
    transform: scale(.8);
}

.landing-carousel {
    background-color: var(--color-primary);
    width: 45%;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
}

.landing-carousel app-carousel {
    height: 100%;
}