<app-header></app-header>

<div class="landing">
    <div class="landing-details">
        <h1>Bricoly</h1>
        <h3>Engineer Your Life The Way It Should Be...</h3>
        <div class="landing-icons">
            <img src="assets/icons/hammer.svg" alt="Hammer Icon">
            <img src="assets/icons/cable.svg" alt="Cable Icon">
            <img src="assets/icons/terminal.svg" alt="Terminal Icon">
        </div>
        <button><a routerLink="/register">Get Started</a></button>
        <button><a routerLink="/about">Learn More</a></button>
    </div>
    <div class="landing-carousel">
        <app-carousel></app-carousel>
    </div>
</div>
