<app-header></app-header>

<div class="offer">
    <div class="offer-main">
        <div class="offer-name">
            <img src="assets/icons/box.svg" alt="Offer Image">
            <div>
                <h1>Offer Name</h1>
                <ul>
                    <li>
                        <img src="assets/icons/star-full.svg" alt="Star Full">
                    </li>
                    <li>
                        <img src="assets/icons/star-full.svg" alt="Star Full">
                    </li>
                    <li>
                        <img src="assets/icons/star-full.svg" alt="Star Full">
                    </li>
                    <li>
                        <img src="assets/icons/star-empty.svg" alt="Star Full">
                    </li>
                    <li>
                        <img src="assets/icons/star-empty.svg" alt="Star Full">
                    </li>
                </ul>
                <p>
                    <span>Report</span> 
                    <span>.</span> 
                    <span>Feedback</span>
                </p>
            </div>
        </div>
        <div class="offer-description">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies consequat eros id lobortis. Nam magna purus, fringilla sit amet tempus sit amet, faucibus in elit. Mauris iaculis, arcu dictum imperdiet molestie, risus libero blandit nisl, sed blandit libero neque quis ante. Morbi sit amet velit fringilla, ultrices sapien et, pharetra velit. Aliquam vitae eleifend neque.
            </p>
        </div>
        <div class="offer-extra">
            <div class="offer-extra-provider">
                <img src="assets/icons/user-blue.svg" alt="Provider Icon">
                <p>Provider Name</p>
            </div>
            <div class="offer-extra-location">
                <img src="assets/icons/location.svg" alt="Location Icon">
                <p>Location</p>
            </div>
            <div class="offer-extra-price">
                <img src="assets/icons/price.svg" alt="Price Icon">
                <p>Price</p>
            </div>
        </div>
    </div>
    <div class="offer-secondary">
        <div class="offer-details">
            <h1>Offer Details</h1>
            <div class="offer-details-date">
                <img src="assets/icons/calendar.svg" alt="Date Icon">
                <div class="offer-details-availability">
                    <h3>Availability</h3>
                    <p>Mon, Tue, Fri, Sun</p>
                </div>
            </div>
            <div class="offer-details-extra">
                <span>
                    <img src="assets/icons/task.svg" alt="Extra Icon">
                    <p>Detail #1</p>
                </span>
                <span>
                    <img src="assets/icons/task.svg" alt="Extra Icon">
                    <p>Detail #2</p>
                </span>
                <span>
                    <img src="assets/icons/task.svg" alt="Extra Icon">
                    <p>Detail #3</p>
                </span>
            </div>
        </div>
        <div class="offer-secondary-button">
            <button>Hire</button>
        </div>
    </div>
</div>
