<app-header></app-header>

<div class="offer">
    <div class="offer-main">
        <div class="offer-name">
            <img src="assets/icons/box.svg" alt="Offer Image">
            <div>
                <h1>{{offer.offer_name}}</h1>
                <ul>
                    <li *ngFor="let item of [].constructor(+offer.rating)">
                        <img src="assets/icons/star-full.svg" alt="Star Full">
                    </li>
                    <li *ngFor="let item of [].constructor(5 - offer.rating)">
                        <img src="assets/icons/star-empty.svg" alt="Star Empty">
                    </li>
                </ul>
                <p>
                    <span>Report</span> 
                    <span>.</span> 
                    <span>Feedback</span>
                </p>
            </div>
        </div>
        <div class="offer-description">
            <p>{{offer.description}}</p>
        </div>
        <div class="offer-extra">
            <a [routerLink]="['/profile']" [state]="{data: provider}">
                <div class="offer-extra-provider">
                    <img src="assets/icons/user-blue.svg" alt="Provider Icon">
                    <p>{{offer.provider_name}}</p>
                </div>
            </a>
            <div class="offer-extra-location">
                <img src="assets/icons/location.svg" alt="Location Icon">
                <p>{{provider.user.location}}</p>
            </div>
            <div class="offer-extra-price">
                <img src="assets/icons/price.svg" alt="Price Icon">
                <p>{{offer.price}}</p>
            </div>
        </div>
    </div>
    <div class="offer-secondary">
        <div class="offer-details">
            <h1>Offer Details</h1>
            <div class="offer-details-date">
                <img src="assets/icons/calendar.svg" alt="Date Icon">
                <div class="offer-details-availability">
                    <h3>Availability</h3>
                    <p>{{days}}</p>
                </div>
            </div>
            <div class="offer-details-extra">
                <span *ngFor="let detail of details">
                    <img src="assets/icons/task.svg" alt="Extra Icon">
                    <p>{{detail}}</p>
                </span>
            </div>
        </div>
        <div class="offer-secondary-button">
            <button>Hire</button>
        </div>
    </div>
</div>
