<app-header></app-header>

<div class="catalog">
    <div class="catalog-categories">
        <h1>Categories</h1>
        <ul>
            <li *ngFor="let category of categories" class="catalog-categories-item">{{category.category_name}}</li>
        </ul>
        <p>Bricoly &copy; Copyright 2022</p>
    </div>
    <div class="catalog-offers">
        <!-- We will implement paging at a later date -->
        <!-- <div class="catalog-offers-nav">
            <li>&lt;</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>...</li>
            <li>&gt;</li>
        </div> -->
        <div class="catalog-offers-main">
            <app-offer-card *ngFor="let offer of offers" [offer]="offer"></app-offer-card>
        </div>
    </div>
</div>
